$primary_button : rgb(0, 225, 255);
$text_color : rgb(179, 76, 76);
$primary_text : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

@mixin background_color($color) {
    background-color: $color;
}



header {
    @include background_color(rgb(255, 174, 0));
    width: 600px;
    font-family: $primary_text;
    text-align: center;
    justify-content: center;
    margin: auto;
    color: $text_color;
    p {
        
        color: $text_color;
        font-weight: 900;
        font-family:'Times New Roman', Times, serif;
        &:hover {
            color: rgb(205, 135, 222);
        }
    }
}

button {
    background: $primary_button;
}
.button-div {
    background: $primary_button;
}